body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
  
  
  a:hover {
    color: #3b8af2;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }
  
/*======= Top Bar =======*/
#topbar {
    background: white;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #000;
}  
#topbar.topbar-scrolled {
    top: -40px;
}
.social-links .address{
    letter-spacing: -0.57px;
    color: #9DAFBD;
    opacity: 1;
}
.social-links .social-item{
    top: 15px;
    left: 1266px;
    width: 17px;
    height: 14px;
    color: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
#topbar .social-links a:hover {
    color: #04A255;
}

/*===== Back to top button =====*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #04A255;
    color: #fff;
    transition: all 0.4s;
}
.back-to-top i:hover {
    background: #3284f1;
    color: #fff;
}
/*===== Disable aos animation delay on mobile devices =====*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/*===== Header =====*/
#header .log-menu{
    background-color: whitesmoke;
    transition: all 0.5s;
    z-index: 999;
    top: 35px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
    height: 8rem;
}
  
@media (max-width: 992px) {
    #header {
      padding: 15px;
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
}
/*===== Navigation Menu =====*/
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul {
    display: flex;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 48px;
}
  
.nav-menu a {
    display: block;
    position: relative;
    color: #222222;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
}
.nav-menu a:hover{
    color: #04A255;
}
.nav-menu ul .active{
    text-decoration: none;
    color:  #04A255;
    background-color:  transparent;
}
/*===== Mobile Navigation =====*/
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
.mobile-nav-toggle i {
    color: #222222;
}
.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}
.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile-nav a {
    display: block;
    position: relative;
    color: #222222;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #106eea;
    text-decoration: none;
}
.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}
.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}
.mobile-nav .drop-down > a {
    padding-right: 35px;
}
.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}
.mobile-nav .drop-down li {
    padding-left: 20px;
}
.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}
.mobile-nav-active {
    overflow: hidden;
}
  
.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}
/*===== Hero section =====*/
#hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/Home/herbs-spices-black.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#hero .xaam-img{
    height: 50vh;
    width: 100vw;
}
#hero h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 1000;
    z-index: 999; 
}

@media (max-width: 992px) {
    #hero .container {
      padding-top: 58px;
    }
}  
@media (max-width: 768px) {
    #hero {
      width: 100%;
      height: 100vh;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
      color: white;
    }
}
  
@media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
}
  
/*===== Sections General =====*/
section {
    padding: 10px 0;
    overflow: hidden;
}
/*===== Enanye =====*/
.enanye .content h3 {
    font-weight: 1000;
    font-size: 36px;
    color: #04A255;
}
.enanye p{
    text-indent: 30px;
    text-align: justify;
}
.enanye img{
    height: 90vh;
}  
#satisfy{
    height: 100vh;
    background-image: url("../img/Home/Group 219.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#satisfy h4{
    color: #ffffff;
    font-size: 28px;
}
#satisfy h3{
    color: #ffffff;
    font-size: 48px;
    font-weight: 1000;
}
#baltina img{
    height: 100vh;
}
#baltina .btn{
    background-color: #04A255;
    border-radius: 10px;
    padding: .5rem 1.5rem;
    color: white;
}
#baltina .btn:hover{
    color: #222222;
    background-color: #777777;
}
#baltina .view{
    width: 13rem;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background: whitesmoke;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    font-weight: 1000;
    z-index: 1;
}
#baltina h3{
    letter-spacing: 1.63px;
    color: #B2B2B2;
    opacity: 1;
    font-weight: lighter;
}
#baltina h2{
    letter-spacing: 1.82px;
    color: #B2B2B2;
    font-weight: 1000;
    opacity: 1;
}
#baltina h2 span{
    color: #9DD764;
}
#baltina p{
    font-size: 22px;
    opacity: .6;
}
.baltina .count-num h1{
    color: #9DD764;
    font-size: 38px;
    font-weight: 1000;
}
#mankiya{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/Home/twelve-spices.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
} 
.testimony h2{
    font-weight: 1000;
    color: #03904B;
}
.testimony h6{
    font-size: 12px;
    opacity: .5;
}
.testimo .logo_small{
    height: 10rem;
}
.testimo .footer-logo{
    height: 9.5rem;
}
.abebe{
    border: 2px solid rgb(212, 205, 205);
}
.testimo .abebe img{
    margin-top: -6.5rem;
}
.Visit h2{
    font-weight: 1000;
    color: #04A255;
    font-size: 38px;
}
/*---------- About Us ----------*/
#about{
    height: 80vh;
    width: 100%;
    background-image: url("../img/About us/IMAGE BANNER copy 2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
#about h2{
    color: #ffffff;
    font-size: 78px;
    font-weight: 1000;
    text-shadow: 1rem .5rem .5rem .2rm rgba(0, 0, 0, 5);
}
.Get_Yours{
   background-color: whitesmoke;
   height: 100%;
}
.Get_Yours h3{
    font-weight: 300;
    font-size: 38px;
    opacity: .4;
}
.Get_Yours h2{
    font-weight: 1000;
    color: #000;
    font-size: 58px;
}
.Get_Yours img{
    height: 15rem;
}
/*---------- Product ----------*/
#products{
    height: 100vh;
    width: 100%;
    background-image: url("../img/Products/product slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
#products h2{
    color: #ffffff;
    font-size: 38px;
    font-weight: 1000;
}
.product-list h1{
    color: #03904B;
    font-weight: 1000;
    font-size: 58px;
}
#carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.section-2p .carousel-inner{
    height: 100%;
}
.section-2p .carousel-indicators{ 
    bottom: -4rem;
}
.section-2p .carousel-indicators li{
    width: 20px;
    height: 20px;
    margin: 3px;
    color: white;
    font-weight: 1000;
    background-color: #04A255;
    border-radius: 100%;
    line-height: 23px;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1.9);
}
.container .extra{
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.container .berber{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Group 35.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .berber:hover{
   background-image: url("../img/Products/berber powder.jpg");
}
  
.container .abish{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/abish.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    background-position: center;
}
.container .abish:hover{
   background-image: url("../img/Products/Abish crushed-d.png");
}
  
.container .shiro{
    height:170px;
    width: 200px;
    background-image: url("../img/Products/Shiro.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .shiro:hover{
   background-image: url("../img/Products/Shiro-d.png");
} 
.container .mixmixa{
    height:160px;
    width: 200px;
    background-image: url("../img/Products/Mitmita.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .mixmixa:hover{
   background-image: url("../img/Products/Mitmita-d.png");
}
.container .aja-du{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Aja Powder.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .aja-du:hover{
   background-image: url("../img/Products/Aja-d.png");
}
.container .aja-qince{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Aja Kinche.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .aja-qince:hover{
   background-image: url("../img/Products/Kinche aja-d.png");
}
.container .kororima-yetefelefele{
    height:160px;
    width: 200px;
    background-image: url("../img/Products/Korerima.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .kororima-yetefelefele:hover{
   background-image: url("../img/Products/Korerima yaltefelefele-d.png");
}
.container .kororima-yetefece{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Korerima yetefeche.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .kororima-yetefece:hover{
   background-image: url("../img/Products/Korerima-d.png");
} 
.container .mekelesha{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Mekelesha.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .mekelesha:hover{
   background-image: url("../img/Products/Mekelesha-d.png");
}
.container .beso{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Beso.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .beso:hover{
   background-image: url("../img/Products/Beso-d.png");
}
.container .kolo{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Kolo.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .kolo:hover{
   background-image: url("../img/Products/Kolo-d.png");
}
.container .senafinc{
    height:180px;
    width: 200px;
    background-image: url("../img/Products/Senafich.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    cursor: pointer;
    background-position: center;
}
.container .senafinc:hover{
   background-image: url("../img/Products/Bg-d.png");
}
  
/*---------- Contact ----------*/
#contact{
    height: 110vh;
    width: 100%;
    background-image: url("../img/Contact Us/Group 220.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#contact h2{
    color: #ffffff;
    font-size: 78px;
    font-weight: 1000;
    text-shadow: 1rem .5rem .5rem .2rm rgba(0, 0, 0, 5);
}
.Get_touch h5{
    font-size: 22px;
    font-weight: lighter;
}
.Get_touch .touch{
    background: #48A535 0% 0% no-repeat padding-box;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.Get_touch .touch h4{
    color: #fff;
    font-weight: 700;
    font-size: 38px;
}
.Get_touch .touch h6{
    color: #fff;
    font-weight: lighter;
    font-size: 28px;
}
.Get_touch .touch p {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}
.Get_touch .touch p i{
    font-size: 22px;
    color: palevioletred;
}
#counts{
    height: 100%;
    background: #48A535 0% 0% no-repeat padding-box;
}
.counts span{
    color: #fff;
    font-weight: 1000;
    font-size: 68px;
}
.counts p{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}
.counts span i{
    color: #fff;
    font-weight: 1000;
    font-size: 38px;
}

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}
input {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
}
textarea:focus, input:focus {
    border-color: transparent !important;
}
  
input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }
  
textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
  
button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
.contact1-form {
    width: 390px;
}
.contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 42px;
    color: #333333;
    line-height: 1.2;
}
input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}
input.input1 + .shadow-input1 {
    border-radius: 25px;
}
textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}
.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}
.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}
.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}
.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #E62354;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact1-form-btn i {
    margin-left: 7px;
    font-weight: 1000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact1-form-btn:hover {
    background: #333333;
}
.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(40px);
}
@media (max-width: 1200px) {
    .contact1-form {
      width: 50%;
    }
}
@media (max-width: 992px) {
    .container-contact1 {
      padding: 90px 80px 88px 90px;
    }
    .contact1-form {
      width: 55%;
    }
}
@media (max-width: 768px) {
    .container-contact1 {
      padding: 90px 80px 88px 80px;
    }
    .contact1-form {
      width: 100%;
    }
}
@media (max-width: 576px) {
    .container-contact1 {
      padding: 90px 15px 88px 15px;
    }
}
/*===== Customer =====*/
.team {
    padding: 20px 0;
}
.team h2{
    font-size: 32px;
    font-weight: 100;
}
.team h2 span{
    font-size: 68px;
    font-weight: 1000;
    color: #555555;
}
  
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.team .member .member-img {
    position: relative;
    overflow: hidden;
}
.team .member .member-info {
    padding: 15px 15px;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222222;
}
.team .member .member-info span {
    display: block;
    font-size: 16px;
    font-weight: 100;
    color: #006FCB;
}
.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

/*---------- Footer ----------*/
.footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
}
.footer .footer-top {
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
.footer .footer-top .footer-contact h3 {
    font-size: 30px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 1000;
    color: #04A255;
}
.footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
}
.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #04A255;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #106eea;
    font-size: 18px;
    line-height: 1;
} 
.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #106eea;
}
.footer .copyright {
    text-align: center;
    float: left;
}
.footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #444444;
}
@media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
      padding: 2px 0;
    }
  }
  
  
  